@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@media screen and (min-width: 601px) and (max-width: 767px){
    body {
        background-image: url("../imagens/background3.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        width: 100%;
    }  
}