@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../imagens/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
}

header {
    background-color: black;
    width: 100%;
}

header ul {
    color: white;
    width: 100%;
}

header ul li {
    display: inline-block;
    background-color: black;
    list-style: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
    margin: 10px;
    margin-right: 5%;
}

header ul li:first-child {
    margin-left: 100px;
    margin-right: 60%;
    max-width: 50%;
}

header ul li#logo {
    font-size: 50px;
    float: left;
}

header ul li a {
    text-decoration: none;
    color: white;
}


header ul li a:hover {
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    transition: 1s;
    margin: 10px;
}

div#apresentacao {
    border-left: 4px solid black;
    border-right: 4px solid black;
    margin-left: 20%;
    margin-right: 20%;
}

div#apresentacao h1 {
    margin-top: 4%;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
}

div#apresentacao p {
    text-align: center;
    text-indent: 30px;
    text-align: justify;
    max-width: 60%;
    margin: auto;
    font-family: 'Patrick Hand', cursive;
    font-size: 35px;
}

hr {
    border-color: black;
}

.container h1 {
    margin-top: 4%;
    margin-bottom: -30px;
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
}

.container {
    width:40%;
    height:390px;
    padding-top:20px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    margin: auto;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

#st-box, #st-box2 {
    float:left;
    width:240px;
    height:240px;
    border-radius: 360px;
    margin-right: 80px;
    margin-top: 130px;
}

#st-box {
    background-image: url("../imagens/html.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#st-box:hover, #nd-box:hover, #rd-box:hover, #st-box2:hover, #nd-box2:hover, #rd-box2:hover {
    color: lightgray;
    transition: 0.5s;
    padding-right: 10px;
}

#st-box2 {
    background-image: url("../imagens/heroku.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#nd-box, #nd-box2 {
    float:left;
    width:240px;
    height:240px;
    border-radius: 360px;
    margin-left: 100px;
    margin-top: 130px;
}

#nd-box {
    background-image: url("../imagens/css.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#nd-box2 {
    background-image: url("../imagens/netlify.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#rd-box, #rd-box2 {
    float:right;
    width:240px;
    height:240px;
    border-radius: 360px;
    margin-top: 130px;
}

#rd-box {
    background-image: url("../imagens/js.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#rd-box2 {
    background-image: url("../imagens/typescript.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container p {
    margin-top: 240px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
}