@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url("../imagens/background2.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        width: 100%;
    }    
}